<form [formGroup]="userForm">
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="email" placeholder="Email" value="" formControlName="email">
    </mat-form-field>
  </div>

  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="password" placeholder="Password" value="dhia" formControlName="pwd">
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-checkbox>Remember Me</mat-checkbox>
    <span fxFlex></span> <a [routerLink]="['/session/forgot-password']">Forgot Password?</a>
  </div>
  <button color="accent" class="button-lg mb-3" mat-raised-button (click)="seConnecter()">Sign In dallon</button>
<!--  <button color="accent" class="button-lg mb-3" mat-raised-button [routerLink]="['/checkout/payment']">Sign In</button>-->
  <div>

    <p>Don't have an account? <a [routerLink]="['/session/signup']">Click here to create one</a></p>

  </div>


</form>
